
<section class="container bg-white rounded-2xl shadow-xl">
    

    

<div class="">
   <div class="p-4  rounded-lg dark:border-gray-700 mt-14">

    <div  class="flex flex-row sm:flex-row justify-between items-start sm:items-center sm:px-3 mb-7 my-4">
        <a 
        routerLink="/allExams"
        class="text-[#4461F2] font-[500] text-[24px] cursor-pointer">Quizes</a>

        <a      (click)="clickTogetAll()"
                class="text-[#4461F2] font-[500] text-[24px] hidden md:block cursor-pointer">View All</a>
       
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3  gap-3 gap-y-5 mt-5 px-3 ">
        
        
       

        @if (getAll == 1) {

             @for (subs of (getAllsubjectList$|async) ; track $index) { 

            
                   <div [routerLink]="['/quizes' , subs._id]" class="flex flex-col items-center justify-center relative shadow-xl  rounded-xl cursor-pointer   ">
                    
            <div class="">
                <img [src]="subs.icon" alt="" class=" w-[490px] h-[392px]  rounded-xl bg-contain  ">
            </div>

            <div class=" bg-gradient-to-r from-[#1935CA66] to-[#1935CA66]/60 w-3/4 opacity-[93%] px-4 py-2
             backdrop-blur-lg rounded-xl p-3 absolute bottom-20   ">

                <h2 class="text-white font-[600] text-[18px] text-start leading-normal md:text-center">{{subs.name}}</h2>
                <p class="text-white font-[400] text-[14px] text-start text-wrap ">Lorem ipsum dolor sit amet cons sit amet </p>
            </div>
        </div>
        }


        } @else {
                 @for (subs of (subjectList$|async)?.slice(0,6) ; track $index) { 

            
                   <div [routerLink]="['/quizes' , subs._id]" class="flex flex-col items-center justify-center relative shadow-xl  rounded-xl cursor-pointer   ">
                    
            <div class="">
                <img [src]="subs.icon" alt="" class=" w-[490px] h-[392px]  rounded-xl bg-contain  ">
            </div>

            <div class=" bg-gradient-to-r from-[#1935CA66] to-[#1935CA66]/60 w-3/4 opacity-[93%] px-4 py-2
             backdrop-blur-lg rounded-xl p-3 absolute bottom-20   ">

                <h2 class="text-white font-[600] text-[18px] text-center leading-normal">{{subs.name}}</h2>
                <p class="text-white font-[400] text-[14px] text-start text-wrap ">Lorem ipsum dolor sit amet cons sit amet </p>
            </div>
        </div>
        }

        }
 


    </div>


    <a 
    (click)="clickTogetAll()"
    class="text-[#4461F2] font-[500] text-[24px] block md:hidden mt-7 cursor-pointer">
    View All </a>
   </div>
</div>

</section>
