<div class="bg-[#F0F4FC] hidden fixed top-0 left-0 w-1/2 lg:flex flex-col items-center justify-evenly min-h-[100vh] rounded-r-[100px] shadow-2xl ">
  <div class="flex flex-col justify-start items-start ">
    <h1 class="text-black text-[14px] md:text-[3.75rem] font-[700]">Welcome to</h1>
  <h2 class="text-[#4461F2] text-[16px] md:text-[4.6875rem] font-[700]">Elevate</h2>
  <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam odit 
  </p>
  </div>

  <div class="flex items-center justify-start">
    <img src="bro.png" class="w-[458px] h-[444px] object-contain " alt="">
  </div>
</div>
